* {
    margin: 0;
    padding: 0;
    /*    font-family: 'Open Sans', sans-serif;*/
}

body {}

.content img {
    display: block;
    padding-top: 100px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    margin: auto 50;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    letter-spacing: 10px;
}